body {
  background-color: cornflowerblue;
  text-align: center;
}


#stage {
  display: inline-block;
  height: 600px;
  width: 600px;
  margin: 40px;
  background-image: url(/css_animation_exercise_stage.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  border: black 1px solid;
}

#hero {
  height: 75px;
  width: 75px;
  border: red 1px dashed;
  position: relative;
  left: 10px;
  top: 10px;
  animation-name: stepOne;
  animation-duration: 5s;
}

@keyframes stepOne {
  from {left: 10px; top: 10px;}
  to {left: 510px; top: 10px;}
}